.logo {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: transparent;
}

body {
  align-items: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

.info {
  font-size: large;
}

.email-p a {
  background-color: #86a6a0;
  color: white;
  text-decoration: none;
  padding: 5px;
}
